In [1]:
# import the required libraries
import numpy as np
import pandas as pd

In [2]:
# create a dataframe  named 'df' from a 4x4 numpy array of random numbers 
df = pd.DataFrame(np.random.randint(0,100,size=(4, 4)))
df

    0   1   2   3
0  85  96   3  52
1  73   0  78  28
2  94  55  21  54
3  75  95  65  31

In [3]:
# column names of df before renaming
df.columns

RangeIndex(start=0, stop=4, step=1)

In [ ]:
# renaming the column names of df
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']

# column names of df after renaming
df.columns